{:deps {org.clojure/tools.cli {:mvn/version "0.4.1"}}
 :aliases {:speculative
           {:extra-deps {speculative {:mvn/version "0.0.3-SNAPSHOT"}}
            :main-opts ["-e" "(require,'[patch.clj-2443])"
                        "-e" "(require,'[speculative.instrument,:refer,[instrument]])"
                        "-e" "(require,'[speculative.core.extra])"
                        "-m" "spec-search.cli"]}}}
